body{
  margin: 0;
  padding: 150px 25px 0;
  background-color: hsl(210, 46%, 95%);
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  color: hsl(214, 17%, 51%);
}

.main-container{
  margin: 0 auto;
  width: 325px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 50px -10px hsl(212, 23%, 69%);
}

.hero-image-container{
  height: 200px;
  background-image: url("images/drawers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 35px;
}

.text-container{
  display: flex;
  flex-direction: column;
}

.hero-text{
  margin: 0 25px 15px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: .5px;
  color: hsl(217, 19%, 35%);
}

.description{
  margin: 0 25px 30px;
  font-size: .9rem;
  line-height: 1.6;
  letter-spacing: -.2px;
}

.author-container{
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.author-picture{
  margin-left: 25px;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

.footer-flex{
  display: inline-flex;
  flex-direction: column;
}

.author-name{
  margin: 2.5px 0 2.5px 15px;
  font-size: .8rem;
  letter-spacing: .5px;
  color: hsl(217, 19%, 35%);
}

.post-date{
  margin: 0 15px;
  font-size: .8rem;
  letter-spacing: .5px;
  color: hsl(212, 23%, 69%);
}

.share-icon{
  margin: auto  35px auto auto;
  padding: 10px;
  width: 15px;
  height: 13px;
  border-radius: 100%;
  background-color: hsl(210, 46%, 95%);
  z-index: 1;
}

.share-icon:hover{
  cursor: pointer;
  color: #fff;
  background-color: hsl(214, 17%, 51%);
}

.share{
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  bottom: 75px;
  width: 325px;
  height: 75px;
  background-color: hsl(217, 19%, 35%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: .9rem;
}

.hidden{
  visibility: hidden;
}

.share p{
  margin: 0 15px 0 25px;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: 5px;
  color: hsl(212, 23%, 69%);
}

.fab{
  margin-right: 15px;
  font-size: 1.5rem;
  transition: transform 1.5s;
  color: #fff;
}

.fab:hover{
  cursor: pointer;
  transform:rotateY(360deg);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 925px){

  body{
    padding: 300px 0 0;
  }

  .main-container{
    height: 300px;
    width: 750px;
    flex-direction: row;
  }

  .hero-image-container{
    margin-bottom: 0;
    height: 300px;
    flex-basis: 700px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    background-position: left;
  }

  .hero-text{
    margin: 30px 50px 15px 35px;
    font-size: 1.25rem;
    line-height: normal;
  }

  .description, .author-picture{
    margin-left: 35px;
  }

  .share{
    position: relative;
    bottom: 170px;
    left: 317px;
    width: 250px;
    height: 60px;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 10px 50px -10px hsl(212, 23%, 69%);
  }

  .share p{
    margin-left: 50px;
  }

  .arrow-down{
    position: relative;
    top: 35px;
    right: 117px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
  }

}
